<div class="container py-5 mx-2">
  <div class="card">
    <div class="card-header">
      NGZOO
    </div>
    <div class="card-body">
      <h2 class="mt-2">Listado de Animales</h2>
      <br>
      <div class="container">
        <table class="table">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Año</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Oso panda</td>
            <td>2012</td>
            <td>
              <button class="btn btn-outline-success btn-sm">Ver</button>
              <button class="btn btn-outline-primary btn-sm">Editar</button>
              <button class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td>Oso panda</td>
            <td>2012</td>
            <td>
              <button class="btn btn-outline-success btn-sm">Ver</button>
              <button class="btn btn-outline-primary btn-sm">Editar</button>
              <button class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td>Oso panda</td>
            <td>2012</td>
            <td>
              <button class="btn btn-outline-success btn-sm">Ver</button>
              <button class="btn btn-outline-primary btn-sm">Editar</button>
              <button class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td>Oso panda</td>
            <td>2012</td>
            <td>
              <button class="btn btn-outline-success btn-sm">Ver</button>
              <button class="btn btn-outline-primary btn-sm">Editar</button>
              <button class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td>Oso panda</td>
            <td>2012</td>
            <td>
              <button class="btn btn-outline-success btn-sm">Ver</button>
              <button class="btn btn-outline-primary btn-sm">Editar</button>
              <button class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

